html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

.header {
	width: 100%;
	height: 10vh;
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10vw;
	font-weight: bold;
}

.red {
	color: red;
}

.wrapper {
	height: 71vh;
	margin-top: 1vh;
}

.group-slider {
  width: 28vw;
  height: 100%;
  float: right;
  overflow-y: auto;
  margin-bottom: 1vh;
  margin-right: 1vh;

}

.slide {
  width: 27vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border: 0.5vw solid gray;
  border-radius: 2vw;
  text-align: center;
}

.slide:not(:first-child) {
  margin-top: -0.5vw;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;

}

.slide img {
	height: 65%;
	border-radius: 2vw;
}

.slide:active {
    border: 0.5vw solid red;
}

.name-group {
    font-weight: bold;
    font-size: 3vw;
}

.mid-slider-w{
	width: 67vw;
	height: 94%;
	display: none;
}

.mid-slider-1 {
    overflow-y: auto;
    width: 63vw;
    height: 97%;
    margin-left: 2vw;
}

.mid-slider1 {
    overflow-y: auto;
    width: 63vw;
    height: 100%;
    display: none;
    margin-left: 4vw;
}

.mid-slider-w:target {
	display: block;
}

.mid-slider1:target {
	display: block;
}

.description1 {
	width: 28vw;
	height: 15vw;
	font-weight: bold;
	font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4vw;
    text-align: right;
}

.img1 {
	width: 12vw;
	height: 15vw;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mid-slide1 .img1 img {
    width: 100%;
    height: auto;
}

.mid-slide1{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.mid-slide2{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-slide3{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mid-slide4{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-slide5{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-slide6{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-slide7{
  width: 62vw;
  height: 34vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-slide8{
  width: 62vw;
  height: 17vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
	width: 11vw;
	height: 15vw;
	font-weight: bold;
	font-size: 3vw;
	display: flex;
    align-items: center;
    justify-content: center;
}

.description {
	width: 28vw;
	height: 15vw;
	font-weight: bold;
	font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4vw;
    text-align: right;
}

.img {
	width: 12vw;
	height: 15vw;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.surcharge {
	color: gray;
}

.mid-slide2 .img img {
	width: 100%;
	height: auto;
}

.mid-slide3 .img img {
	width: 100%;
	height: auto;
}

.mid-slide4 .img img {
	width: 100%;
	height: auto;
}

.mid-slide5 .img img {
	width: 100%;
	height: auto;
}

.mid-slide6 .img img {
	width: 100%;
	height: auto;
}

.mid-slide7 img {
	width: 50%;
	height: auto;
}

.mid-slide8 .img img {
	width: 100%;
	height: auto;
}

.subsubSlide .img img {
	width: 100%;
	height: auto;
}

.yorder {
	width: 100%;
	font-weight: bold;
	font-size: 5vw;
	text-align: right;
}

.grayfix {
	width: 22vw;
	height: 5vw;
	background-color: gray; 
	border-radius: 1vw;
	position: absolute;
	top: 145vw;
	left: 3vw;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.top {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}

.top1 {
	width: 30vw;
    height: 7vw;
    background-color: black;
    color: white;
    border-radius: 0.7vw;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top2 {
	width: 30vw;
    height: 7vw;
    background-color: pink;
    color: white;
    border-radius: 0.7vw;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1 {
	width: 7vw;
    height: 7vw;
    background-color: white;
    color: black;
    font-size: 3.5vw;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    left: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle2 {
	width: 7vw;
    height: 7vw;
    background-color: white;
    color: black;
    font-size: 3.5vw;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    left: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket {
	width: 97%;
	height: 15vh;
	display: flex;
	border: 0.5vw solid gray;
    border-radius: 4vw;
	overflow-x: auto;
	margin: 0 auto;
	margin-top: 1vh;
    margin-bottom: 1vh;
}

.low-slide {
	width: 35vw;
	height: 15vw;
	border: 0.1vw solid black;
    flex-shrink: 0;
    scroll-behavior: smooth;
    margin: 1vw;
    margin-top: 8vw;
    display: flex;
    align-items: center;
	justify-content: center;
}

.subsubGroup7 {
    overflow-y: auto;
    width: 63vw;
    height: 105vw;
    position: absolute;
    top: 17vw;
    left: 6vw;
    display: none;
}

.subsubGroup7:target {
	display: block;
}

.groupImg1,
.groupImg2,
.groupImg3 {
    width: 63vw;
    height: 27vw;
    text-align: center; 
}

.groupImg1 img {
	width: 60%;
	height: auto;
}

.groupImg2 img {
	width: 46%;
	height: auto;
}

.groupImg3 img {
	width: 34%;
	height: auto;
}

.subgroup-name {
	font-weight: bold;
    font-size: 5vw;
}



.subsubSlider {
	width: 63vw;
    height: 78vw;
    overflow-y: auto;
}


.subsubSlide {
  width: 62vw;
  height: 14vw;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step1coffe-w:target {
	display: block;
}

.step1coffe-w {
    display: none;
    width: 67vw;
    height: 100%;
}

.step1coffe {
    width: 65vw;
    height: 65vh;
    overflow-y: auto;
}

.coffeImg-and-Name {
	width: 100%;
	height: 10vh;
	display: flex;
	
}

.coffeName {
    width: 46vw;
    height: 10vw;
    text-align: right;
    font-size: 4vw;
    font-weight: bold;
    padding-top: 5vw;
    padding-right: 4vw;  
}


.coffeImg {
	width: 17vw;
    height: 15vw;
}

.coffeImg img {
	width: 100%;
}


.question1 {
	width: 100%;
	height: 4vh;
	font-weight: bold;
	font-size: 5vw;
	text-align: right;
	margin-bottom: 2vw;
}

.choice1 {
	width: 100%;
	height: 7vh;
	display: flex;
    justify-content: space-between;
}

.option {
	width: 25vw;
	height: 10vw;
	border: 0.3vw solid black;
	border-radius: 2vw;
	margin-right: 5vw;
	margin-bottom: 2vw;
	margin-left: 2vw;
	font-size: 4vw;
    outline: none;
    background-color: #fff;
}

.question2 {
	width: 100%;
	height: 4vh;
    font-weight: bold;
	font-size: 5vw;
	text-align: right;
	margin-bottom: 2vw;
}

.choice2 {
	width: 100%;
	height: 15vh;
}

.question3 {
	width: 100%;
	height: 4vh;
    font-weight: bold;
	font-size: 5vw;
	text-align: right;
	margin-bottom: 2vw;
}

.choice3 {
	width: 100%;
	height: 7vh;
	display: flex;
    justify-content: space-between;
}

.next {
    width: 10vw;
    height: 10vw;
    background-color: green;
    position: absolute;
    top: 95vw;
    left: 29vw
}


.popUp1 {

}















