html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

.header {
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: bold;
}

.red {
	color: red;
}

.stepBack {
  font-size: 6vw;
  width: 5vw;
  position: absolute;
  top: 3%;
  left: 90%;
}

.wrapper {
	width: 100%;
	height: 73vh;
}

.enterName {
	width: 80%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3vh;
	font-weight: bold;
	margin: 2vh auto;
}

.text {
	width: 80%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3vh;
	font-weight: bold;
	margin: 2vh auto;
}


.keyboard{
    width: 100%;
    height: 47vh;
    background-color: #dce0e3;
    font-family: arial;
    padding-top: 1vh;
}
.row{
    width: 100%;
    height: 8vh;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:first-child {
    margin-left: 0vw;
}

.key{
	width: 7vw;
    height: 7vh;
    border-radius: 1vh;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    line-height: 40px;
    background-color: #fff;
}

.backspace {
    width: 10vw;
    background-color: #c2c5ca;
}

.keyboard .space{
    width: 50vw;
}

#result{
    width: 60%;
    height: 4vh;
    margin: 0 auto;
    display: block;
    font-size: 3vh;
    color: #444;

}









.btnDiv {
	width: 100%;
	height: 11vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnDiv button {
	width: 90%;
	height: 10vh;
	background-color: black;
	border-color: black;
	color: white;
	outline: none;
	font-size: 4vh;
    font-weight: bold;
}